
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
          <form action="" method="post">
            <div class="container">
              <div class="mb-3">
                  <label for="" class="form-label">
                      Payee Name or Merchant name
                  </label>
                  <input type="text" class="form-control" placeholder="Payee Name or Merchant name" required>
              </div>
              <div class="mb-3">
                  <label for="" class="form-label">
                      Category
                  </label>
                  <input type="text" class="form-control" placeholder="Category Name" required>
              </div>
              <div class="form-check">
        <input type="radio" class="form-check-input" name="type" id="transaction-type" value="income" required>
        <label for="transaction-type" class="form-check-label">
          Income
        </label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="type" id="transaction-type" value="expense" required>
        <label for="transaction-type" class="form-check-label">
          Expense
        </label>
      </div>
      <div class="input-group">
        <textarea name="description" class="form-control" placeholder="Description"  id=""></textarea>
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" placeholder="Amount" name="amount" required>
      </div>
      
      
        <div class="form-check">
          <input type="radio" class="form-check-input" name="type" id="transaction-status" value="completed" required>
          <label for="transaction-status" class="form-check-label">
            Completed
          </label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="type" id="transaction-status" value="scheduled" required>
          <label for="transaction-status" class="form-check-label">
            Scheduled
          </label>
        </div>
    
        <label for="scheduled-time">Transaction Time</label>
        <input type="date" name="date" id="" required>
        <input type="time" name="time" id="" required>
    
        <button type="submit"> Submit</button>
    
    
             ['type','category','amount','date', 'time', 'merchant', 'status',
              'description']
        </div>
        </form>

        <div class="row"></div>

        <div class="col">

        </div>
        <div class="mb-3"></div>
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>